<% title "#{@contact.email}" %>

<div class="page_actions">
    <%= link_to "#{t(:back)}<i class=\"icon-arrow-left16 position-right\"></i>".html_safe, naturesoft_contacts.admin_contacts_path, class: "btn btn-primary"%>
    <%= link_to ("#{t(:Edit_contact)}" + '<i class="icon-pencil position-right"></i>').html_safe, naturesoft_contacts.edit_admin_contact_path(@contact), class: 'btn btn-primary' %>
</div>
<br />
<form action="#" class="form-horizontal">
    <div class="panel panel-flat">

        <div class="panel-body">
            <div class="col-md-6">
                <div class="form_fix">
                    <label class="col-md-3"><%= t(:full_name) %>:</label>
                    <label class="col-md-9 text-semibold"><%= @contact.first_name + @contact.last_name %></label>
                </div>
                
                <div class="form_fix">
                    <label class="col-md-3"><%= t(:address) %>:</label>
                    <label class="col-md-9 text-semibold"><%= @contact.address %></label>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="form_fix">
                    <label class="col-md-3"><%= t(:email) %>:</label>
                    <label class="col-md-9 text-semibold"><%= @contact.email %></label>
                </div>
                
                <div class="form_fix">
                    <label class="col-md-3"><%= t(:phone_number) %>:</label>
                    <label class="col-md-9 text-semibold"><%= @contact.phone %></label>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="col-lg-12">
                <label class="col-lg-2"><%= t(:subject) %>:</label>
                <label class="col-lg-10 text-semibold"><%= @contact.subject %></label>
            </div>

            <div class="col-lg-12">
                <label class="col-lg-12"><%= t(:message) %>:</label>
                <div class="col-lg-12">
                    <textarea class="form-control" rows=5 cols=5 readonly><%= @contact.message %></textarea>
                </div>
            </div>
        </div>
    </div>
</form>